.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}


.fundo{
    background-color:rgb(177, 175, 175);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
  
}

.linha{
    background-color: rgb(94, 93, 93);
    padding: 1px;
    width: 100%;
}

